$("#itens").append("<%= escape_javascript(render partial: 'item', locals: { item: item_orcamento } ) %>");
$("#produto_nome" ).val("");
$("#produto_id" ).val("");
$("#preco").html("");
$('#quantidade_estoque').html("");
$('#produto_quantidade').val("");
$('#valor_total').html("<h4>"+accounting.formatMoney(<%= sub_total %>, "R$", 2, ".", ",")+"</h4>");

