/*
 *= require bootstrap
 *= require jquery-ui.min
 *= require simple-sidebar
 *= require dataTables.bootstrap
 *= require_tree
 *= require_self
 */

.page-header {
  margin-top: 10px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.right {
    float: right !important;
}

.error {
  border-color: #a94442;
  webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}




