h1 Editar Funcionario

- if @pessoa_fisica
    == render 'pessoas_fisicas/form'
-else
    == render 'pessoas_juridicas/form'

== render 'form'

= link_to 'Salvar', '#', class: "btn btn-success btn-lg btn-block", id: 'salvar_funcionario'
br
= link_to 'Abrir', @funcionario
'|
= link_to 'Voltar', :back

